In [1]:
import pandas as pd

# Replace 'your_file.csv' with the actual path to your CSV file
file_path = 'USA_Housing.csv'

# Load data into a pandas DataFrame
data = pd.read_csv(file_path)
null_values = data.isnull().sum()

# Display the count of null values for each column
print("Null values in each column:")
print(null_values)

import numpy as np

import math
# Replace 'column_name' with the actual column name for which you want to calculate the ceiling


# Apply lambda function to calculate ceiling for the specified column
data['Price'] = data['Price'].apply(lambda x: math.ceil(x))

# Display the DataFrame with the new column
#print(data.head())

# List of columns for which you want to calculate the floor
floor_column_name = ['Avg. Area Income','Avg. Area House Age','Avg. Area Number of Rooms','Avg. Area Number of Bedrooms','Area Population']

# Apply floor function to all specified columns using applymap
data[floor_column_name] = data[floor_column_name].applymap(lambda x: math.floor(x))
# Display the DataFrame with the new column
print(data.head())

output_file_path = 'Cleansed_USA_Housing.csv'
data.to_csv(output_file_path, index=False)

Null values in each column:
Avg. Area Income                0
Avg. Area House Age             0
Avg. Area Number of Rooms       0
Avg. Area Number of Bedrooms    0
Area Population                 0
Price                           0
Address                         0
dtype: int64
   Avg. Area Income  Avg. Area House Age  Avg. Area Number of Rooms  \
0             79545                    5                          7
1             79248                    6                          6
2             61287                    5                          8
3             63345                    7                          5
4             59982                    5                          7

   Avg. Area Number of Bedrooms  Area Population    Price  \
0                             4            23086  1059034
1                             3            40173  1505891
2                             5            36882  1058988
3                             3            34310  1260617
4                             4            26354   630944

                                             Address
0  208 Michael Ferry Apt. 674\nLaurabury, NE 3701...
1  188 Johnson Views Suite 079\nLake Kathleen, CA...
2  9127 Elizabeth Stravenue\nDanieltown, WI 06482...
3                          USS Barnett\nFPO AP 44820
4                         USNS Raymond\nFPO AE 09386

# New Section